[submodule "lib/omt/libomt"]
	path = lib/omt/libomt
	url = https://github.com/BitRate27/libomt.git
[submodule "lib/omt/libomtnet"]
	path = lib/omt/libomtnet
	url = https://github.com/openmediatransport/libomtnet.git
[submodule "lib/omt/libvmx"]
	path = lib/omt/libvmx
	url = https://github.com/BitRate27/libvmx.git
